<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <!-- le estamos diciendo al servidor web lo que debe ir en el head que lo 
    reemplace definido en el folder{layout/plantilla :: head}-->
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
          <!--Inconrporar bloque de etiquetas en el header -->
          
        <section th:replace="~{categoria/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{categoria/fragmentos :: agregarCategoria}"/>
        <section th:replace="~{categoria/fragmentos :: listadoCategorias}"/> 
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
